<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact - Virtual Art Museum</title>
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/contact.css">
  <link rel="stylesheet" href="../css/header.css">
  <link rel="stylesheet" href="../css/footer.css">

</head>

<body>
  <div id="header-container"></div>

  <main class="contact-main">
    <section class="contact-info">
      <h2>Contact Us</h2>
      <p>Do you have questions, comments, or inquiries? Reach out to us!</p>
      <form action="/submit-form" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="message">Message:</label>
        <textarea id="message" name="message" rows="5" required></textarea>

        <button type="submit">Send</button>
      </form>
    </section>
  </main>

  <div id="footer-container"></div>

  <!-- <script>
    // Cargar header
    fetch('header.html')
      .then(response => response.text())
      .then(data => {
        document.getElementById('header-container').innerHTML = data;
      });

    // Cargar footer
    fetch('footer.html')
      .then(response => response.text())
      .then(data => {
        document.getElementById('footer-container').innerHTML = data;
      });
  </script> -->
  <script src="../js/main.js"></script>

</body>

</html>