<header class="museum-header" id="header-container">
  <div class="logo">
    <h1><a href="../index.html" class="logo-link">Virtual Art Museum</a></h1>
  </div>

  <div class="hamburger">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
  <nav class="main-nav">
    <ul>
      <li><a href="../index.html">Home</a></li>
      <li><a href="../components/gallery.html">Exhibits</a></li>
      <li><a href="../components/about.html">About</a></li>
      <li><a href="../components/contact.html">Contact</a></li>


    </ul>
  </nav>
</header>